html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100%;
  background: linear-gradient(to bottom right, #7b4397, #dc2430);
  color: white;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center content horizontally */
  text-align: center;
}

.greeting-container {
  margin-top: 20%; /* Add space above the greeting if needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.followed {
  position: fixed; /* Fix to the left side */
  top: 20px; /* Distance from the top */
  left: 20px; /* Distance from the left */
  width: 200px; /* Set a fixed width */
  padding: 10px;
  background-color: rgba(70, 55, 55, 0.8); /* Slight background to stand out */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Shadow for better visibility */
  overflow-y: auto; /* Scroll if the list is long */
}

.followed-channels-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.followed-channels-list li {
  margin-bottom: 5px;
}

/* Style for links in the followed channels list */
.followed-channels-button{
  color: #f5f5f5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  padding: 5px;
  font-weight: 550;
}

.followed-channels-button:hover {
  scale: 1.1;
}

/* Prevent visited links from changing color */
.followed-channels-list a:visited {
  color: #1e90ff; /* Ensure visited links are the same color as unvisited links */
}

.followed-channels-list a:active {
  color: #1e90ff; /* Ensure active links (when clicked) are the same color */
}

.settings {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 30px;
  background-color: transparent;
  margin: 3px;
  border: 0.5px solid black;
  border-radius: 5px;
}

.settings:hover {
  background-color: rgba(255, 255, 255, 0.1);
  scale: 1.05;
}

/* Style for the dropdown container */
.dropdown {
  position: absolute;
  top: 63px; /* Adjust this to position it correctly relative to the button */
  right: 10px; /* Position at the right edge with some padding */
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
  margin: 1px;
  padding: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensures the dropdown appears on top of other elements */
}

/* Style for the unordered list inside the dropdown */
.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style for each list item */
.dropdown li {
  padding: 5px 16px;
  cursor: pointer;
  color: black;
}

.name-input {
  padding: 8px;
  margin: 8px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.setting-dropdown-button{
  color: #fffafa;
  background-color: rgba(0, 0, 0, 0.13);
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  padding: 5px;
  font-weight: 550;
}

/* Style for list items on hover */
.setting-dropdown-button:hover {
  scale: 1.1;
}

.save-button{
  margin-right: 5px;
}

.clear-button{
  margin-left: 5px;
}

.refresh-container {
  display: flex;
  flex-direction: column; /* Stack contents vertically */
  align-items: center;
  margin-top: 10px; /* Adjust spacing as needed */
}

.refresh-button {
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: #0071f300;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.refresh-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light grey */
  border-left: 4px solid #000; /* Black */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  margin-left: 8px; /* Spacing between button and spinner */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
